#header {
  display: inline-flex;
  width: 100%;
  heigt: 20px;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}

img {
  height: 50px;
  padding-left: 10px;
}

h1 {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  width: 70%;
  height: 50px;
  display: inline-flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 0px;
  margin-right: 0px;
  border: 1px solid black;
}

.nav {
  display: inline-flex;
  flex-wrap: none;
  justify-content: flex-start;
  margin-left: 0px;
  padding-left: 0px;
}


.nav ul li {
  display: inline-block;
  flex-direction: row;
  list-style: none;
  margin-left: 0px;
  margin-right: 20px;
  padding-left: 0px;
}

li a {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
  padding: 5px;
}

.column {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding-top: 20px;
}

.large {
  width: 630px;
  display: inline-block;
  border: 1px solid black;
}

.medium {
  width: 300px;
  display: inline-block;
  border: 1px solid black;
}

.small {
  width: 240px;
  display: inline-block;
  border: 1px solid black;
}

.mother p {
  border: 1px solid black;
  margin: 0px;
}

.mother .p2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.orca {
  border: 1px solid black;
}

.orca .earth {
  border: 1px solid black;
  margin: 0px;
}

.burger {
  border: 1px solid black;
}

.burger .research {
  border: 1px solid black;
  margin: 0px;
}

.fbi {
  border: 1px solid black;
}

.cats {
  border: 1px solid black;
  margin: 0px;
}

.newbites {
  border: 1px solid black;
}

.newbites img{
  width: 228px;
  height: 228px;
  border: 1px solid black;
}
